extends ./layout/index.pug 
block compartircontenido 
    main.container.nt-5 
        .row 
            .container.py-4.py-xl-5
                .row.mb-5
                    .col-md-8.col-xl-6.text-center.mx-auto
                    h1
                    h2 Fiestas representativas de la región
                    .col
                        .p-4
                        h4 Fiesta patronal de San Pedro y San Pablo
                        p
                        | Esta celebración se lleva en honor a los Santos Patronos de la Parroquia de Zacatlán; se lleva a cabo el 29 de junio de cada año y en ella participan habitantes de las diferentes comunidades que ofrecen sus danzas étnicas en el atrio de la parroquia.
                        .d-flex
                        img(src='/img/sanpablo.jpg',width='400', height='250')
                    .col
                        .p-4
                        h4 La gran feria de las manzanas
                        p
                        | Desde hace mucho tiempo, por iniciativa de la familia Orta Díaz se celebra a nuestra señora de la Asunción Patrona de los fruticultores, pero hasta 1941 y con la creatividad de don Agustín M. Cano se realizó la primera Gran Feria de la Manzana que tiene como día central 15 de agosto y una fiesta alrededor de este día. Destacan de esta los siguientes elementos: La manzana, fruto que da renombre a nuestro municipio y que es el signo del trabajo y agradecimiento a Dios.
                        .d-flex
                        img(src='/img/feria.jpg',width='400', height='200')        
                    .col
                        .p-4
                        h4 Día de muertos
                        p
                        |La celebración a los fieles difuntos como toda una tradición mexicana no podría pasar por alto en Zacatlán ya que esta celebración de orígenes prehispánicos tiene como objetivo honrar a nuestros difuntos, el altar es un elemento fundamental en esta conmemoración que consiste en ofrecerles lo que más les gustaba en vida, así mismo se realiza una exposición de ofrendas en el Claustro Cultural de la ciudad, en donde diversas instituciones dejan ver su creatividad al aplicar un estilo y tema propio en los altares, dedicando su ofrenda a alguna persona ilustre o particular.
                        .d-flex
                        img(src='/img/diamuertos.jpg', width='400', height='200')
                script(src='assets/bootstrap/js/bootstrap.min.js')

