extends ./layout/index.pug 
block compartircontenido 
    main.container.nt-5 
        .row 
            img(src="img/inicio.png" class="img-fleid")
            .container
                .row.mb-5
                    .col-md-8.col-xl-6.text-center.mx-auto
                    h2 Zacatlán
                    p.w-lg-50
                        | Pueblo Mágico dentro del Estado de Puebla.
                        br
                        | Entrar a este Pueblo Mágico es llegar a un mundo distinto, se percibe niebla y fr&iacute;o, como si alguien hubiera levantado la comunidad entera hasta las nubes.
                        br  
                        | Por las tardes rápidamente las calles se llenan de niebla y no es posible verse ni la punta de la nariz. Sin duda, este milagro es sugestivo y atrayente.Una vez que clarea el día podrás ver un enorme y colorido reloj floral en el Centro Histórico, el cual marca el ritmo de vida de este pueblo de encanto.
                .row.gy-4.row-cols-1.row-cols-md-2.row-cols-xl-3
                    .col
                        .card
                            img.card-img-top.w-100.d-block.fit-cover(style='height: 200px;' src='/img/lugares.jpg')
                            .card-body.p-4
                            h4.card-title Lugares por conocer&nbsp;
                            p.card-text
                                | -Barranca de los Jilgueros
                                br
                                | -Cascada de San Pedro
                                br
                                | -Cascada Tulim&aacute;n
                                br
                                | -Ex Convento Templo Franciscano
                                br
                                | -Mercado Revoluci&oacute;n
                                br
                                | -Mural Paseo de la Barranca
                                br
                                | -Museo de Relojer&iacute;a y Aut&oacute;matas Alberto Olvera
                                br
                                | -Palacio Municipal
                    .col
                        .card
                            img.card-img-top.w-100.d-block.fit-cover(style='height: 200px;' src='/img/festividades.jpg')
                            .card-body.p-4
                            h4.card-title Festividades
                            p.card-text
                                | Fiestas de San Pedro y San Pablo, 29 junio. Fiestas patronales.
                                br
                                | Virgen de la Asunci&oacute;n, 15 agosto. Exposiciones y ofrendas.
                                br
                                | Feria de la Manzana, 3&ordf; semana agosto.
                                br
                                | Festival del Pan de Queso, Principios de noviembre.
                                br
                    .col
                        .card
                            img.card-img-top.w-100.d-block.fit-cover(style='height: 200px;' src='/img/ubicacion.png')
                            .card-body.p-4
                            h4.card-title Ubicaci&oacute;n
                            p.card-text
                                | A 2 hrs. de Pachuca, a 2:30 hrs. de Puebla, a 3 hrs. de la CDMX, y a 3 hrs. de Xalapa.
                                br
                                |  Al Noroeste del estado colinda con Chiconcuautla y Huauchinango, al Sur con Aquixtla y Chignahuapan, al Oeste con Ahuacatl&aacute;n, Tepetzintla y Tetela de Ocampo.
                                br
                                br