extends ./layout/index.pug 
block compartircontenido 
    main.container.nt-5 
        .row 
            .container.py-4.py-xl-5
                .row.mb-5
                    .col-md-8.col-xl-6.text-center.mx-auto
                    h1
                    h2 Lugares por visitar
                    p.w-lg-50
                        | Zacatlán de las manzanas es reconocido por ser uno de los mayores productores  de esta fruta en el país, recibió la denominación de pueblo mágico en abril de 2011, pero además de su arquitectura, tradiciones e historia, hay algo que lo hace simplemente especial, su neblina. Un espectáculo de la naturaleza que nos regala una vista realmente impresionante, y si te preguntabas que hacer en Zacatlán de las Manzanas, aquí te mostramos algunos lugares que puedes recorrer en tu estancia.
                    .col
                        .p-4
                        span.badge.rounded-pill.bg-primary.mb-2 Visita
                        h4 Mosaico monumental
                        p
                        | Se trata de un mural de cerca de 100 metros, ubicado a un costado del panteón municipal, fue elaborado con trozos de mosaicos de diversos colores y vidrios reciclados, en los que fueron plasmados tradiciones, origen y edificios emblemáticos de Zacatlán. El trabajo fue coordinado por la artista plástica Metzner-Lynch.
                        .d-flex
                        img(src='/img/mosaico.jpg')
                    .col
                        .p-4
                        span.badge.rounded-pill.bg-primary.mb-2 Visita
                        h4 El reloj Floral
                        p
                        | Este es el icono del lugar , colocado durante la remodelación del Zócalo en 1986, fue donado por Relojes Centenario. Cuenta con dos caratulas de 5 metros de diámetro y tiene 9 melodías diferentes para marcar las horas según la época del año. Sus creadores, son los mismos del reloj del parque hundido.
                        .d-flex
                        img(src='/img/reloj.jpg')        
                    .col
                        .p-4
                        span.badge.rounded-pill.bg-primary.mb-2 Visita
                        h4 Ex Convento Franciscano
                        p
                        |Una joya arquitectónica colonial , cuya construcción dio inició en 1562, concluyéndose en 1567 por frailes franciscanos, convirtiéndolo en el convento más antiguo de Puebla, está dedicado a la Virgen de la Asunción, cuya fiesta es celebrada el 15 de agosto en el marco de la feria de la manzana, que en este 2017, será celebrada del 5 al 20 de agosto.
                        .d-flex
                        img(src='/img/ex-convento.jpg')
                script(src='assets/bootstrap/js/bootstrap.min.js')